  
@charset "UTF-8";
*,
*::before,
*::after {
  box-sizing: border-box; }

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

@-ms-viewport {
  width: device-width; }

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
  display: block; }

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff; }

[tabindex="-1"]:focus {
  outline: 0 !important; }

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible; }

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0.5rem; }

p {
  margin-top: 0;
  margin-bottom: 1rem; }

abbr[title],
abbr[data-original-title] {
  text-decoration: underline;
  text-decoration: underline dotted;
  cursor: help;
  border-bottom: 0; }

address {
  margin-bottom: 1rem;
  font-style: normal;
  line-height: inherit; }

ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 1rem; }

ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0; }

dt {
  font-weight: 700; }

dd {
  margin-bottom: .5rem;
  margin-left: 0; }

blockquote {
  margin: 0 0 1rem; }

dfn {
  font-style: italic; }

b,
strong {
  font-weight: bolder; }

small {
  font-size: 80%; }

sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline; }

sub {
  bottom: -.25em; }

sup {
  top: -.5em; }

a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects; }
  a:hover {
    color: #0056b3;
    text-decoration: underline; }

a:not([href]):not([tabindex]) {
  color: inherit;
  text-decoration: none; }
  a:not([href]):not([tabindex]):hover, a:not([href]):not([tabindex]):focus {
    color: inherit;
    text-decoration: none; }
  a:not([href]):not([tabindex]):focus {
    outline: 0; }

pre,
code,
kbd,
samp {
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  font-size: 1em; }

pre {
  margin-top: 0;
  margin-bottom: 1rem;
  overflow: auto;
  -ms-overflow-style: scrollbar; }

figure {
  margin: 0 0 1rem; }

img {
  vertical-align: middle;
  border-style: none; }

svg:not(:root) {
  overflow: hidden; }

table {
  border-collapse: collapse; }

caption {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  color: #6c757d;
  text-align: left;
  caption-side: bottom; }

th {
  text-align: inherit; }

label {
  display: inline-block;
  margin-bottom: 0.5rem; }

button {
  border-radius: 0; }

button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color; }

input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit; }

button,
input {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  padding: 0;
  border-style: none; }

input[type="radio"],
input[type="checkbox"] {
  box-sizing: border-box;
  padding: 0; }

input[type="date"],
input[type="time"],
input[type="datetime-local"],
input[type="month"] {
  -webkit-appearance: listbox; }

textarea {
  overflow: auto;
  resize: vertical; }

fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0; }

legend {
  display: block;
  width: 100%;
  max-width: 100%;
  padding: 0;
  margin-bottom: .5rem;
  font-size: 1.5rem;
  line-height: inherit;
  color: inherit;
  white-space: normal; }

progress {
  vertical-align: baseline; }

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

[type="search"] {
  outline-offset: -2px;
  -webkit-appearance: none; }

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

::-webkit-file-upload-button {
  font: inherit;
  -webkit-appearance: button; }

output {
  display: inline-block; }

summary {
  display: list-item;
  cursor: pointer; }

template {
  display: none; }

[hidden] {
  display: none !important; }

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; }
  @media (min-width: 500px) {
    .container {
      max-width: 700px; } }
  @media (min-width: 950px) {
    .container {
      max-width: 1000px; } }
  @media (min-width: 1366px) {
    .container {
      max-width: 1120px; } }
  @media (min-width: 1600px) {
    .container {
      max-width: 1230px; } }

.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; }

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px; }

.no-gutters {
  margin-right: 0;
  margin-left: 0; }
  .no-gutters > .col,
  .no-gutters > [class*="col-"] {
    padding-right: 0;
    padding-left: 0; }

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col,
.col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm,
.col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md,
.col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg,
.col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl,
.col-xl-auto {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px; }

.col {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%; }

.col-auto {
  flex: 0 0 auto;
  width: auto;
  max-width: none; }

.col-1 {
  flex: 0 0 8.33333%;
  max-width: 8.33333%; }

.col-2 {
  flex: 0 0 16.66667%;
  max-width: 16.66667%; }

.col-3 {
  flex: 0 0 25%;
  max-width: 25%; }

.col-4 {
  flex: 0 0 33.33333%;
  max-width: 33.33333%; }

.col-5 {
  flex: 0 0 41.66667%;
  max-width: 41.66667%; }

.col-6 {
  flex: 0 0 50%;
  max-width: 50%; }

.col-7 {
  flex: 0 0 58.33333%;
  max-width: 58.33333%; }

.col-8 {
  flex: 0 0 66.66667%;
  max-width: 66.66667%; }

.col-9 {
  flex: 0 0 75%;
  max-width: 75%; }

.col-10 {
  flex: 0 0 83.33333%;
  max-width: 83.33333%; }

.col-11 {
  flex: 0 0 91.66667%;
  max-width: 91.66667%; }

.col-12 {
  flex: 0 0 100%;
  max-width: 100%; }

.order-first {
  order: -1; }

.order-last {
  order: 13; }

.order-0 {
  order: 0; }

.order-1 {
  order: 1; }

.order-2 {
  order: 2; }

.order-3 {
  order: 3; }

.order-4 {
  order: 4; }

.order-5 {
  order: 5; }

.order-6 {
  order: 6; }

.order-7 {
  order: 7; }

.order-8 {
  order: 8; }

.order-9 {
  order: 9; }

.order-10 {
  order: 10; }

.order-11 {
  order: 11; }

.order-12 {
  order: 12; }

.offset-1 {
  margin-left: 8.33333%; }

.offset-2 {
  margin-left: 16.66667%; }

.offset-3 {
  margin-left: 25%; }

.offset-4 {
  margin-left: 33.33333%; }

.offset-5 {
  margin-left: 41.66667%; }

.offset-6 {
  margin-left: 50%; }

.offset-7 {
  margin-left: 58.33333%; }

.offset-8 {
  margin-left: 66.66667%; }

.offset-9 {
  margin-left: 75%; }

.offset-10 {
  margin-left: 83.33333%; }

.offset-11 {
  margin-left: 91.66667%; }

@media (min-width: 500px) {
  .col-sm {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%; }
  .col-sm-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: none; }
  .col-sm-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%; }
  .col-sm-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%; }
  .col-sm-3 {
    flex: 0 0 25%;
    max-width: 25%; }
  .col-sm-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%; }
  .col-sm-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%; }
  .col-sm-6 {
    flex: 0 0 50%;
    max-width: 50%; }
  .col-sm-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%; }
  .col-sm-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%; }
  .col-sm-9 {
    flex: 0 0 75%;
    max-width: 75%; }
  .col-sm-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%; }
  .col-sm-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%; }
  .col-sm-12 {
    flex: 0 0 100%;
    max-width: 100%; }
  .order-sm-first {
    order: -1; }
  .order-sm-last {
    order: 13; }
  .order-sm-0 {
    order: 0; }
  .order-sm-1 {
    order: 1; }
  .order-sm-2 {
    order: 2; }
  .order-sm-3 {
    order: 3; }
  .order-sm-4 {
    order: 4; }
  .order-sm-5 {
    order: 5; }
  .order-sm-6 {
    order: 6; }
  .order-sm-7 {
    order: 7; }
  .order-sm-8 {
    order: 8; }
  .order-sm-9 {
    order: 9; }
  .order-sm-10 {
    order: 10; }
  .order-sm-11 {
    order: 11; }
  .order-sm-12 {
    order: 12; }
  .offset-sm-0 {
    margin-left: 0; }
  .offset-sm-1 {
    margin-left: 8.33333%; }
  .offset-sm-2 {
    margin-left: 16.66667%; }
  .offset-sm-3 {
    margin-left: 25%; }
  .offset-sm-4 {
    margin-left: 33.33333%; }
  .offset-sm-5 {
    margin-left: 41.66667%; }
  .offset-sm-6 {
    margin-left: 50%; }
  .offset-sm-7 {
    margin-left: 58.33333%; }
  .offset-sm-8 {
    margin-left: 66.66667%; }
  .offset-sm-9 {
    margin-left: 75%; }
  .offset-sm-10 {
    margin-left: 83.33333%; }
  .offset-sm-11 {
    margin-left: 91.66667%; } }

@media (min-width: 950px) {
  .col-md {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%; }
  .col-md-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: none; }
  .col-md-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%; }
  .col-md-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%; }
  .col-md-3 {
    flex: 0 0 25%;
    max-width: 25%; }
  .col-md-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%; }
  .col-md-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%; }
  .col-md-6 {
    flex: 0 0 50%;
    max-width: 50%; }
  .col-md-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%; }
  .col-md-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%; }
  .col-md-9 {
    flex: 0 0 75%;
    max-width: 75%; }
  .col-md-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%; }
  .col-md-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%; }
  .col-md-12 {
    flex: 0 0 100%;
    max-width: 100%; }
  .order-md-first {
    order: -1; }
  .order-md-last {
    order: 13; }
  .order-md-0 {
    order: 0; }
  .order-md-1 {
    order: 1; }
  .order-md-2 {
    order: 2; }
  .order-md-3 {
    order: 3; }
  .order-md-4 {
    order: 4; }
  .order-md-5 {
    order: 5; }
  .order-md-6 {
    order: 6; }
  .order-md-7 {
    order: 7; }
  .order-md-8 {
    order: 8; }
  .order-md-9 {
    order: 9; }
  .order-md-10 {
    order: 10; }
  .order-md-11 {
    order: 11; }
  .order-md-12 {
    order: 12; }
  .offset-md-0 {
    margin-left: 0; }
  .offset-md-1 {
    margin-left: 8.33333%; }
  .offset-md-2 {
    margin-left: 16.66667%; }
  .offset-md-3 {
    margin-left: 25%; }
  .offset-md-4 {
    margin-left: 33.33333%; }
  .offset-md-5 {
    margin-left: 41.66667%; }
  .offset-md-6 {
    margin-left: 50%; }
  .offset-md-7 {
    margin-left: 58.33333%; }
  .offset-md-8 {
    margin-left: 66.66667%; }
  .offset-md-9 {
    margin-left: 75%; }
  .offset-md-10 {
    margin-left: 83.33333%; }
  .offset-md-11 {
    margin-left: 91.66667%; } }

@media (min-width: 1366px) {
  .col-lg {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%; }
  .col-lg-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: none; }
  .col-lg-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%; }
  .col-lg-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%; }
  .col-lg-3 {
    flex: 0 0 25%;
    max-width: 25%; }
  .col-lg-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%; }
  .col-lg-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%; }
  .col-lg-6 {
    flex: 0 0 50%;
    max-width: 50%; }
  .col-lg-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%; }
  .col-lg-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%; }
  .col-lg-9 {
    flex: 0 0 75%;
    max-width: 75%; }
  .col-lg-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%; }
  .col-lg-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%; }
  .col-lg-12 {
    flex: 0 0 100%;
    max-width: 100%; }
  .order-lg-first {
    order: -1; }
  .order-lg-last {
    order: 13; }
  .order-lg-0 {
    order: 0; }
  .order-lg-1 {
    order: 1; }
  .order-lg-2 {
    order: 2; }
  .order-lg-3 {
    order: 3; }
  .order-lg-4 {
    order: 4; }
  .order-lg-5 {
    order: 5; }
  .order-lg-6 {
    order: 6; }
  .order-lg-7 {
    order: 7; }
  .order-lg-8 {
    order: 8; }
  .order-lg-9 {
    order: 9; }
  .order-lg-10 {
    order: 10; }
  .order-lg-11 {
    order: 11; }
  .order-lg-12 {
    order: 12; }
  .offset-lg-0 {
    margin-left: 0; }
  .offset-lg-1 {
    margin-left: 8.33333%; }
  .offset-lg-2 {
    margin-left: 16.66667%; }
  .offset-lg-3 {
    margin-left: 25%; }
  .offset-lg-4 {
    margin-left: 33.33333%; }
  .offset-lg-5 {
    margin-left: 41.66667%; }
  .offset-lg-6 {
    margin-left: 50%; }
  .offset-lg-7 {
    margin-left: 58.33333%; }
  .offset-lg-8 {
    margin-left: 66.66667%; }
  .offset-lg-9 {
    margin-left: 75%; }
  .offset-lg-10 {
    margin-left: 83.33333%; }
  .offset-lg-11 {
    margin-left: 91.66667%; } }

@media (min-width: 1600px) {
  .col-xl {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%; }
  .col-xl-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: none; }
  .col-xl-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%; }
  .col-xl-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%; }
  .col-xl-3 {
    flex: 0 0 25%;
    max-width: 25%; }
  .col-xl-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%; }
  .col-xl-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%; }
  .col-xl-6 {
    flex: 0 0 50%;
    max-width: 50%; }
  .col-xl-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%; }
  .col-xl-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%; }
  .col-xl-9 {
    flex: 0 0 75%;
    max-width: 75%; }
  .col-xl-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%; }
  .col-xl-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%; }
  .col-xl-12 {
    flex: 0 0 100%;
    max-width: 100%; }
  .order-xl-first {
    order: -1; }
  .order-xl-last {
    order: 13; }
  .order-xl-0 {
    order: 0; }
  .order-xl-1 {
    order: 1; }
  .order-xl-2 {
    order: 2; }
  .order-xl-3 {
    order: 3; }
  .order-xl-4 {
    order: 4; }
  .order-xl-5 {
    order: 5; }
  .order-xl-6 {
    order: 6; }
  .order-xl-7 {
    order: 7; }
  .order-xl-8 {
    order: 8; }
  .order-xl-9 {
    order: 9; }
  .order-xl-10 {
    order: 10; }
  .order-xl-11 {
    order: 11; }
  .order-xl-12 {
    order: 12; }
  .offset-xl-0 {
    margin-left: 0; }
  .offset-xl-1 {
    margin-left: 8.33333%; }
  .offset-xl-2 {
    margin-left: 16.66667%; }
  .offset-xl-3 {
    margin-left: 25%; }
  .offset-xl-4 {
    margin-left: 33.33333%; }
  .offset-xl-5 {
    margin-left: 41.66667%; }
  .offset-xl-6 {
    margin-left: 50%; }
  .offset-xl-7 {
    margin-left: 58.33333%; }
  .offset-xl-8 {
    margin-left: 66.66667%; }
  .offset-xl-9 {
    margin-left: 75%; }
  .offset-xl-10 {
    margin-left: 83.33333%; }
  .offset-xl-11 {
    margin-left: 91.66667%; } }

.navbar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem; }
  .navbar > .container,
  .navbar > .container-fluid {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between; }

.navbar-brand {
  display: inline-block;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap; }
  .navbar-brand:hover, .navbar-brand:focus {
    text-decoration: none; }

.navbar-nav {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none; }
  .navbar-nav .nav-link {
    padding-right: 0;
    padding-left: 0; }
  .navbar-nav .dropdown-menu {
    position: static;
    float: none; }

.navbar-text {
  display: inline-block;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem; }

.navbar-collapse {
  flex-basis: 100%;
  flex-grow: 1;
  align-items: center; }

.navbar-toggler {
  padding: 0.25rem 0.75rem;
  font-size: 1.25rem;
  line-height: 1;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 0.25rem; }
  .navbar-toggler:hover, .navbar-toggler:focus {
    text-decoration: none; }
  .navbar-toggler:not(:disabled):not(.disabled) {
    cursor: pointer; }

.navbar-toggler-icon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  content: "";
  background: no-repeat center center;
  background-size: 100% 100%; }

@media (max-width: 499.98px) {
  .navbar-expand-sm > .container,
  .navbar-expand-sm > .container-fluid {
    padding-right: 0;
    padding-left: 0; } }

@media (min-width: 500px) {
  .navbar-expand-sm {
    flex-flow: row nowrap;
    justify-content: flex-start; }
    .navbar-expand-sm .navbar-nav {
      flex-direction: row; }
      .navbar-expand-sm .navbar-nav .dropdown-menu {
        position: absolute; }
      .navbar-expand-sm .navbar-nav .nav-link {
        padding-right: 0.5rem;
        padding-left: 0.5rem; }
    .navbar-expand-sm > .container,
    .navbar-expand-sm > .container-fluid {
      flex-wrap: nowrap; }
    .navbar-expand-sm .navbar-collapse {
      display: flex !important;
      flex-basis: auto; }
    .navbar-expand-sm .navbar-toggler {
      display: none; } }

@media (max-width: 949.98px) {
  .navbar-expand-md > .container,
  .navbar-expand-md > .container-fluid {
    padding-right: 0;
    padding-left: 0; } }

@media (min-width: 950px) {
  .navbar-expand-md {
    flex-flow: row nowrap;
    justify-content: flex-start; }
    .navbar-expand-md .navbar-nav {
      flex-direction: row; }
      .navbar-expand-md .navbar-nav .dropdown-menu {
        position: absolute; }
      .navbar-expand-md .navbar-nav .nav-link {
        padding-right: 0.5rem;
        padding-left: 0.5rem; }
    .navbar-expand-md > .container,
    .navbar-expand-md > .container-fluid {
      flex-wrap: nowrap; }
    .navbar-expand-md .navbar-collapse {
      display: flex !important;
      flex-basis: auto; }
    .navbar-expand-md .navbar-toggler {
      display: none; } }

@media (max-width: 1365.98px) {
  .navbar-expand-lg > .container,
  .navbar-expand-lg > .container-fluid {
    padding-right: 0;
    padding-left: 0; } }

@media (min-width: 1366px) {
  .navbar-expand-lg {
    flex-flow: row nowrap;
    justify-content: flex-start; }
    .navbar-expand-lg .navbar-nav {
      flex-direction: row; }
      .navbar-expand-lg .navbar-nav .dropdown-menu {
        position: absolute; }
      .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 0.5rem;
        padding-left: 0.5rem; }
    .navbar-expand-lg > .container,
    .navbar-expand-lg > .container-fluid {
      flex-wrap: nowrap; }
    .navbar-expand-lg .navbar-collapse {
      display: flex !important;
      flex-basis: auto; }
    .navbar-expand-lg .navbar-toggler {
      display: none; } }

@media (max-width: 1599.98px) {
  .navbar-expand-xl > .container,
  .navbar-expand-xl > .container-fluid {
    padding-right: 0;
    padding-left: 0; } }

@media (min-width: 1600px) {
  .navbar-expand-xl {
    flex-flow: row nowrap;
    justify-content: flex-start; }
    .navbar-expand-xl .navbar-nav {
      flex-direction: row; }
      .navbar-expand-xl .navbar-nav .dropdown-menu {
        position: absolute; }
      .navbar-expand-xl .navbar-nav .nav-link {
        padding-right: 0.5rem;
        padding-left: 0.5rem; }
    .navbar-expand-xl > .container,
    .navbar-expand-xl > .container-fluid {
      flex-wrap: nowrap; }
    .navbar-expand-xl .navbar-collapse {
      display: flex !important;
      flex-basis: auto; }
    .navbar-expand-xl .navbar-toggler {
      display: none; } }

.navbar-expand {
  flex-flow: row nowrap;
  justify-content: flex-start; }
  .navbar-expand > .container,
  .navbar-expand > .container-fluid {
    padding-right: 0;
    padding-left: 0; }
  .navbar-expand .navbar-nav {
    flex-direction: row; }
    .navbar-expand .navbar-nav .dropdown-menu {
      position: absolute; }
    .navbar-expand .navbar-nav .nav-link {
      padding-right: 0.5rem;
      padding-left: 0.5rem; }
  .navbar-expand > .container,
  .navbar-expand > .container-fluid {
    flex-wrap: nowrap; }
  .navbar-expand .navbar-collapse {
    display: flex !important;
    flex-basis: auto; }
  .navbar-expand .navbar-toggler {
    display: none; }

.navbar-light .navbar-brand {
  color: rgba(0, 0, 0, 0.9); }
  .navbar-light .navbar-brand:hover, .navbar-light .navbar-brand:focus {
    color: rgba(0, 0, 0, 0.9); }

.navbar-light .navbar-nav .nav-link {
  color: rgba(0, 0, 0, 0.5); }
  .navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus {
    color: rgba(0, 0, 0, 0.7); }
  .navbar-light .navbar-nav .nav-link.disabled {
    color: rgba(0, 0, 0, 0.3); }

.navbar-light .navbar-nav .show > .nav-link,
.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .nav-link.active {
  color: rgba(0, 0, 0, 0.9); }

.navbar-light .navbar-toggler {
  color: rgba(0, 0, 0, 0.5);
  border-color: rgba(0, 0, 0, 0.1); }

.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E"); }

.navbar-light .navbar-text {
  color: rgba(0, 0, 0, 0.5); }
  .navbar-light .navbar-text a {
    color: rgba(0, 0, 0, 0.9); }
    .navbar-light .navbar-text a:hover, .navbar-light .navbar-text a:focus {
      color: rgba(0, 0, 0, 0.9); }

.navbar-dark .navbar-brand {
  color: #fff; }
  .navbar-dark .navbar-brand:hover, .navbar-dark .navbar-brand:focus {
    color: #fff; }

.navbar-dark .navbar-nav .nav-link {
  color: rgba(255, 255, 255, 0.5); }
  .navbar-dark .navbar-nav .nav-link:hover, .navbar-dark .navbar-nav .nav-link:focus {
    color: rgba(255, 255, 255, 0.75); }
  .navbar-dark .navbar-nav .nav-link.disabled {
    color: rgba(255, 255, 255, 0.25); }

.navbar-dark .navbar-nav .show > .nav-link,
.navbar-dark .navbar-nav .active > .nav-link,
.navbar-dark .navbar-nav .nav-link.show,
.navbar-dark .navbar-nav .nav-link.active {
  color: #fff; }

.navbar-dark .navbar-toggler {
  color: rgba(255, 255, 255, 0.5);
  border-color: rgba(255, 255, 255, 0.1); }

.navbar-dark .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E"); }

.navbar-dark .navbar-text {
  color: rgba(255, 255, 255, 0.5); }
  .navbar-dark .navbar-text a {
    color: #fff; }
    .navbar-dark .navbar-text a:hover, .navbar-dark .navbar-text a:focus {
      color: #fff; }

.fade {
  transition: opacity 0.15s linear; }
  @media screen and (prefers-reduced-motion: reduce) {
    .fade {
      transition: none; } }
  .fade:not(.show) {
    opacity: 0; }

.collapse:not(.show) {
  display: none; }

.collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  transition: height 0.35s ease; }
  @media screen and (prefers-reduced-motion: reduce) {
    .collapsing {
      transition: none; } }

.carousel {
  position: relative; }

.carousel-inner {
  position: relative;
  width: 100%;
  overflow: hidden; }

.carousel-item {
  position: relative;
  display: none;
  align-items: center;
  width: 100%;
  transition: transform 0.6s ease;
  backface-visibility: hidden;
  perspective: 1000px; }
  @media screen and (prefers-reduced-motion: reduce) {
    .carousel-item {
      transition: none; } }

.carousel-item.active,
.carousel-item-next,
.carousel-item-prev {
  display: block; }

.carousel-item-next,
.carousel-item-prev {
  position: absolute;
  top: 0; }

.carousel-item-next.carousel-item-left,
.carousel-item-prev.carousel-item-right {
  transform: translateX(0); }
  @supports (transform-style: preserve-3d) {
    .carousel-item-next.carousel-item-left,
    .carousel-item-prev.carousel-item-right {
      transform: translate3d(0, 0, 0); } }

.carousel-item-next,
.active.carousel-item-right {
  transform: translateX(100%); }
  @supports (transform-style: preserve-3d) {
    .carousel-item-next,
    .active.carousel-item-right {
      transform: translate3d(100%, 0, 0); } }

.carousel-item-prev,
.active.carousel-item-left {
  transform: translateX(-100%); }
  @supports (transform-style: preserve-3d) {
    .carousel-item-prev,
    .active.carousel-item-left {
      transform: translate3d(-100%, 0, 0); } }

.carousel-fade .carousel-item {
  opacity: 0;
  transition-duration: .6s;
  transition-property: opacity; }

.carousel-fade .carousel-item.active,
.carousel-fade .carousel-item-next.carousel-item-left,
.carousel-fade .carousel-item-prev.carousel-item-right {
  opacity: 1; }

.carousel-fade .active.carousel-item-left,
.carousel-fade .active.carousel-item-right {
  opacity: 0; }

.carousel-fade .carousel-item-next,
.carousel-fade .carousel-item-prev,
.carousel-fade .carousel-item.active,
.carousel-fade .active.carousel-item-left,
.carousel-fade .active.carousel-item-prev {
  transform: translateX(0); }
  @supports (transform-style: preserve-3d) {
    .carousel-fade .carousel-item-next,
    .carousel-fade .carousel-item-prev,
    .carousel-fade .carousel-item.active,
    .carousel-fade .active.carousel-item-left,
    .carousel-fade .active.carousel-item-prev {
      transform: translate3d(0, 0, 0); } }

.carousel-control-prev,
.carousel-control-next {
  position: absolute;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15%;
  color: #fff;
  text-align: center;
  opacity: 0.5; }
  .carousel-control-prev:hover, .carousel-control-prev:focus,
  .carousel-control-next:hover,
  .carousel-control-next:focus {
    color: #fff;
    text-decoration: none;
    outline: 0;
    opacity: .9; }

.carousel-control-prev {
  left: 0; }

.carousel-control-next {
  right: 0; }

.carousel-control-prev-icon,
.carousel-control-next-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: transparent no-repeat center center;
  background-size: 100% 100%; }

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E"); }

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E"); }

.carousel-indicators {
  position: absolute;
  right: 0;
  bottom: 10px;
  left: 0;
  z-index: 15;
  display: flex;
  justify-content: center;
  padding-left: 0;
  margin-right: 15%;
  margin-left: 15%;
  list-style: none; }
  .carousel-indicators li {
    position: relative;
    flex: 0 1 auto;
    width: 30px;
    height: 3px;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.5); }
    .carousel-indicators li::before {
      position: absolute;
      top: -10px;
      left: 0;
      display: inline-block;
      width: 100%;
      height: 10px;
      content: ""; }
    .carousel-indicators li::after {
      position: absolute;
      bottom: -10px;
      left: 0;
      display: inline-block;
      width: 100%;
      height: 10px;
      content: ""; }
  .carousel-indicators .active {
    background-color: #fff; }

.carousel-caption {
  position: absolute;
  right: 15%;
  bottom: 20px;
  left: 15%;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  text-align: center; }

html {
  font-size: 12px; }
  @media (max-width: 500px) {
    html {
      font-size: 10px; } }
  @media (min-width: 500px) {
    html {
      font-size: 10px; } }
  @media (min-width: 950px) {
    html {
      font-size: 11px; } }
  @media (min-width: 1366px) {
    html {
      font-size: 11px; } }
  @media (min-width: 1600px) {
    html {
      font-size: 12px; } }

header {
  left: 0;
  margin: 0 auto;
  padding-top: 30px;
  position: absolute;
  right: 0;
  top: 0;
  transition: background-color 300ms linear;
  z-index: 4; }

.navbar-brand {
  color: #fff;
  font-family: Raleway;
  font-size: 2.83333rem;
  font-weight: 400; }
  .navbar-brand > img {
    transform-origin: right center;
    transition: transform 1s ease-in-out;
    will-change: transform; }
  .navbar-brand:hover > img {
    transform: rotate(360deg) scale(0.7); }

.navbar {
  width: 100%; }
  @media (max-width: 950px) {
    .navbar .navbar-toggler {
      font-size: 23px; } }
  .navbar .navbar-collapse,
  .navbar .icons_hdr {
    justify-content: flex-end; }
  .navbar .navbar-nav {
    align-items: flex-end; }
    .navbar .navbar-nav .nav-link {
      color: #fff;
      display: block;
      font-family: Montserrat;
      font-size: 1.16666rem;
      font-weight: 300;
      padding: .5rem 1rem;
      text-decoration: none;
      white-space: nowrap; }
    .navbar .navbar-nav .nav-link:hover {
      border-bottom: .05rem solid #fff;
      color: #fff;
      padding-bottom: .45rem;
      /*уменьшить исходный .5 из-за hover-границы*/ }
    .navbar .navbar-nav .nav-item.active .nav-link {
      color: #c7b29a; }
    .navbar .navbar-nav .nav-item.active:hover .nav-link {
      border: none;
      padding-bottom: .5rem; }

.icons_hdr {
  display: flex;
  flex-wrap: nowrap; 
 
}

.hdr_icon-cart,
.submit {
  color: #fff;
  display: block;
  font-size: 1.5rem;
  width: 20px; }

.hdr_icon-cart:hover,
.submit:hover {
  color: #fff;
  transform: scale(1.1); }

.hdr_icon-cart {
  margin-left: 10px;
  margin-right: 1.66666rem; }

.submit {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: block;
  outline: none !important;
  padding: 0;
  transition: background-color .2s ease-in; }

.form-search {
  /*background: url(../img/icon-cart.png);*/
  position: relative; }

.search {
  background-color: #e4e4e4;
  border: none;
  border-radius: 4px;
  bottom: -30px;
  display: none;
  height: 30px;
  outline: none;
  padding: 0;
  position: absolute;
  right: 0;
  transition: width .4s ease-in-out;
  width: 0; }

.search_width {
  border: 1px solid #c7b29a;
  padding: 5px 0 5px 10px;
  width: 200px; }

@media (max-width: 949px) {
  .dark-header {
    /* класс для js: затемнить хедер */
    background-color: rgba(0, 0, 0, 0.97); }
  .search {
    right: 30px;
    top: 0; }
  .navbar-nav .nav-item.active:hover .nav-link {
    padding-bottom: .5rem; }
  .icons_hdr {
    align-items: flex-end;
    flex-direction: column;
    padding-right: 1rem; }
  .hdr_icon-cart {
    margin: 10px 0 5px 0; } }

.my_slide {
  background: grey url(../img/bg-slider.jpg) no-repeat center bottom;
  background-size: cover;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  padding-top: 100px; }
  .my_slide .carousel-item {
    color: #fff;
    font-family: Raleway;
    position: absolute;
    text-align: center; }
    @media (max-width: 500px), (min-width: 500px) {
      .my_slide .carousel-item {
        max-width: 100%;
        top: 15%; } }
    @media (min-width: 500px) {
      .my_slide .carousel-item {
        max-width: 82%;
        top: 20%; } }
    @media (min-width: 950px), (min-width: 1366px) {
      .my_slide .carousel-item {
        max-width: 100%;
        top: 24%; }
        .my_slide .carousel-item p:last-child {
          max-width: 70%; } }
    @media (min-width: 1366px) {
      .my_slide .carousel-item {
        top: 24%; } }
    @media (min-width: 1600px) {
      .my_slide .carousel-item {
        max-width: 100%;
        top: 21%; }
        .my_slide .carousel-item p:nth-child(3) {
          max-width: 40%; } }
    .my_slide .carousel-item p:nth-child(1) {
      font-size: 3em;
      font-weight: 500; }
    .my_slide .carousel-item p:nth-child(2) {
      font-size: 4.33333em;
      font-weight: 700; }
    .my_slide .carousel-item p:nth-child(3) {
      font-size: 1.33333em;
      font-weight: 300;
      line-height: 2em;
      margin: 0 auto; }

[class*="carousel-control-"],
[class*="carousel-control-"] {
  font-size: 3.3333rem;
  opacity: 1; }
  @media (max-width: 500px) {
    [class*="carousel-control-"],
    [class*="carousel-control-"] {
      display: none; } }

[class*="carousel-control-"]:hover,
[class*="carousel-control-"]:hover {
  color: #d3c1ad; }

.carousel-indicators {
  align-items: center; }
  @media (min-width: 1600px) {
    .carousel-indicators {
      bottom: 42px; } }
  @media (max-width: 500px) {
    .carousel-indicators {
      display: none; } }

.carousel-indicators li {
  background: #999898;
  border-radius: 50%;
  height: 11px;
  margin-left: 9px;
  margin-right: 9px;
  width: 11px; }

.carousel-indicators li.active {
  background: transparent;
  border: 2px solid #d3c1ad;
  height: 15px;
  width: 15px; }

.carousel-inner {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  max-width: 70%; }

.carousel-item .brown-btn {
  margin-top: 3em; }

.brown-btn {
  background-color: #998675;
  border: none;
  border-radius: 3px;
  box-shadow: 0 3px 0 #726255;
  color: #fff !important;
  cursor: pointer;
  display: inline-block;
  font-family: Raleway;
  font-size: 1.16666em;
  font-weight: 700;
  line-height: 4.41666em;
  text-align: center;
  text-decoration: none !important;
  text-transform: uppercase;
  transition: background-color .2s ease-in-out;
  width: 14.16666em; }

.brown-btn:hover {
  background-color: #947962; }

.brown-btn:active {
  box-shadow: none;
  transform: translateY(3px); }

.services {
  font-family: Raleway;
  padding-bottom: 5.8333em;
  padding-top: 5.8333em; }
  .services .row {
    justify-content: center; }
  .services .row > div {
    color: #555;
    font-weight: 600;
    margin-top: 10px;
    padding-bottom: 2.75em;
    position: relative;
    text-align: center; }
  @media (max-width: 500px) {
    .services {
      font-size: 10px; } }
  @media (min-width: 500px) {
    .services {
      font-size: 10px; } }
  @media (min-width: 950px) {
    .services {
      font-size: 11px; } }
  @media (min-width: 1366px) {
    .services {
      font-size: 11px; } }
  @media (min-width: 1600px) {
    .services {
      font-size: 12px; } }

.service::after {
  background-color: #f1eee9;
  bottom: 0;
  content: "";
  height: 3px;
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
  width: 23%; }

.service:hover::after {
  background-color: #c7b299; }

.service:hover .icon-ser,
.service:hover .ser-name {
  color: #c7b299 !important; }

.icon-ser {
  color: #555;
  font-size: 3.3333em; }

.ser-name {
  font-size: 1.83333em;
  font-weight: 600; }

.ser-decr {
  color: #8c8c8c;
  font-family: Montserrat;
  font-size: 1.1666em;
  font-weight: 300;
  line-height: 2em; }

h2 {
  color: #555;
  font-family: Raleway;
  font-size: 2.5rem;
  font-weight: 600; }

h2 + p {
  color: #8c8c8c;
  font-family: Montserrat;
  font-size: 1.333rem;
  font-weight: 300;
  line-height: 2.3333rem;
  max-width: 757px;
  text-align: center; }

.realization {
  background-color: #fbfaf8;
  padding-top: 6.9166rem; }
  .realization .row {
    justify-content: center; }
  .realization h2 {
    text-align: center; }
  .realization p {
    margin: 0 auto 1.5rem; }
  .realization .browsers {
    min-width: 100%;
    position: relative;
    text-align: center; }
  .realization img {
    width: 100%; }

.wordpress_theme {
  background: -webkit-linear-gradient(0deg, #211b19 0%, #4e3427 100%);
  background: -moz-linear-gradient(0deg, #211b19 0%, #4e3427 100%);
  background: -o-linear-gradient(0deg, #211b19 0%, #4e3427 100%);
  background: -ms-linear-gradient(0deg, #211b19 0%, #4e3427 100%);
  background: linear-gradient(90deg, #211b19 0%, #4e3427 100%);
  padding-bottom: 4.16666rem;
  padding-top: 4rem; }
  .wordpress_theme .row {
    align-items: center;
    justify-content: space-between; }
  .wordpress_theme p {
    color: #fff;
    font-family: Raleway;
    font-size: 2.333rem;
    font-weight: 400;
    text-align: left; }
  .wordpress_theme p > span {
    color: #c7b299; }
  .wordpress_theme .dont-foget {
    color: #615855;
    font-family: Montserrat;
    font-size: 1.5rem;
    font-weight: 300; }
  @media (max-width: 500px) {
    .wordpress_theme .col-auto {
      width: 100%; }
    .wordpress_theme .brown-btn {
      margin-top: 10px; } }

.lastest-project {
  padding-bottom: 6.6666rem;
  padding-top: 6.6666rem; }
  .lastest-project .brown-btn {
    display: block;
    margin: 60px auto 0; }
  .lastest-project .row {
    justify-content: center;
    text-align: center; }
  .lastest-project h2 {
    width: 100%; }
  .lastest-project h2 + p {
    max-width: 779px; }

.categories {
  display: flex;
  margin-top: 3.33333rem; }
  @media (max-width: 500px) {
    .categories {
      margin-top: 3rem; }
      .categories a {
        margin-top: 10px; } }
  .categories a {
    border: 1px solid #ebebeb;
    border-radius: 3px;
    color: #8c8c8c;
    display: block;
    font-family: Montserrat;
    font-size: 1.1666rem;
    font-weight: 300;
    line-height: 2.6666rem;
    padding: 0 1.3rem;
    text-align: center;
    text-decoration: none; }
    .categories a:not(:last-child) {
      margin-right: .7rem; }
    .categories a.active {
      background-color: #998675;
      color: #fff;
      cursor: default;
      user-select: none; }
    .categories a:hover:not(.active) {
      background-color: #ddd4cc; }
    .categories a:active {
      box-shadow: inset 0 0 2px #414040; }

.cat-items .show {
  display: flex; }

.cat-items > div {
  display: none; }

.cat-item {
  background: url(../img/set-photo.jpg) no-repeat;
  margin-top: 50px;
  padding: 237px 0 0; }
  .cat-item.mob-app1 {
    background-position: 0 1px !important; }
  .cat-item.photo1 {
    background-position: -370px 1px !important; }
  .cat-item.web-design1 {
    background-position: -740px 1px !important; }
  .cat-item.illust1 {
    background-position: 0 -237px !important; }
  .cat-item.web-design2 {
    background-position: -370px -237px !important; }
  .cat-item.photo2 {
    background-position: -740px -237px !important; }
  .cat-item .link_lupa {
    display: none;
    left: 50%;
    position: absolute;
    top: 31%;
    transform: translateX(-50%); }
  .cat-item .cat-text {
    background-color: #fbfaf8;
    padding: 20px 0 26px 29px;
    position: relative;
    text-align: left;
    transition: background-color .2s; }
    .cat-item .cat-text:before {
      border-bottom: 10px solid #fbfaf8;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-top: 0 solid transparent;
      content: "";
      display: block;
      height: 0;
      left: 19px;
      position: absolute;
      top: -10px;
      width: 0; }
    .cat-item .cat-text p:first-child {
      color: #c7b29a;
      font-family: Raleway;
      font-size: 1.6666rem;
      font-weight: 500;
      margin-bottom: 14px; }
    .cat-item .cat-text p:last-child {
      color: #d1d1d1;
      font-family: Montserrat;
      font-size: 1.1666rem;
      font-weight: 300;
      line-height: 1.6666rem;
      margin-bottom: 0; }
  @media (max-width: 500px) {
    .cat-item {
      margin-right: 0;
      max-width: 370px; } }
  @media (min-width: 500px) {
    .cat-item {
      margin-right: 0;
      max-width: 370px; } }
  @media (min-width: 950px) {
    .cat-item {
      margin-right: 30px;
      max-width: 370px; } }
  @media (min-width: 1366px) {
    .cat-item {
      margin-right: 30px;
      max-width: 343px; } }
  @media (min-width: 1600px) {
    .cat-item {
      margin-right: 30px;
      max-width: 370px; } }

.cat-item:hover {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/set-photo.jpg) no-repeat; }
  .cat-item:hover .link_lupa {
    display: block; }
  .cat-item:hover a {
    color: #fff;
    display: inline-block;
    font-size: 2.1666rem;
    margin-right: 28px;
    text-decoration: none !important; }
    .cat-item:hover a:first-child {
      color: #c7b299; }
  .cat-item:hover .cat-text {
    background-color: #362f2d !important; }
    .cat-item:hover .cat-text:before {
      border-bottom-color: #362f2d; }
    .cat-item:hover .cat-text p:first-child {
      color: #fff; }
    .cat-item:hover .cat-text p:last-child {
      color: #c7b299; }

.video {
  background: #8c8c8c;
  overflow: visible; }
  .video .wr {
    overflow: hidden;
    position: relative; }
  .video .padding-wrapper {
    box-sizing: border-box;
    margin: -10% 0;
    padding: 28.15% 50%;
    position: relative; }
  .video iframe {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%; }
  .video .front-video {
    align-items: center;
    background: #ccc url(../img/bg-video.jpg) no-repeat center center;
    background-size: cover;
    display: flex;
    height: 100%;
    justify-content: center;
    left: 0;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%; }
  .video .btn-play {
    align-items: center;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    display: flex;
    font-size: 5.8333rem;
    height: 8.3333rem;
    justify-content: center;
    margin: 0 auto;
    width: 8.3333rem; }
  .video .btn-play:hover {
    background-color: rgba(0, 0, 0, 0.4); }
  .video .wrapper {
    color: #fff; }
    .video .wrapper p {
      cursor: default; }
  .video .video-name {
    font-family: Raleway;
    font-size: 2.5rem;
    font-weight: 500;
    margin-bottom: 1.416666rem;
    margin-top: 3.6666rem; }
  .video .video-short-descr {
    color: #fff;
    font-family: Montserrat;
    font-size: 1.3333rem;
    font-weight: 300;
    line-height: 28px;
    max-width: 569px; }
  .video .video-duration {
    color: #c7b299;
    font-family: Montserrat;
    font-size: 1.16666rem;
    font-weight: 400;
    line-height: 24px; }
  .video .hide {
    display: none; }
  @media (max-width: 950px) {
    .video .video-name {
      margin-bottom: .416666rem;
      margin-top: 1.6666rem; }
    .video .video-short-descr {
      display: none; } }
  @media (max-width: 500px) {
    .video .btn-play {
      font-size: 35px;
      height: 52px;
      width: 52px; }
    .video .video-name {
      font-size: 20px;
      line-height: 1em;
      margin-top: 10px; } }
  @media (min-width: 1366px) {
    .video .video-duration {
      margin-bottom: 40px; } }

.mob_device {
  background-color: #fbfaf8;
  padding-top: 79px; }
  @media (max-width: 500px) {
    .mob_device {
      padding-top: 20px; } }
  @media (max-width: 1366px) {
    .mob_device {
      padding-top: 40px; } }
  .mob_device .row {
    justify-content: space-between; }

.hand_mob {
  display: flex;
  justify-content: flex-end; }
  .hand_mob img {
    max-width: 423px;
    width: 100%; }
  @media (max-width: 950px) {
    .hand_mob {
      display: block;
      text-align: center; }
      .hand_mob img {
        width: 50%; } }
  @media (min-width: 950px) and (max-width: 1600px) {
    .hand_mob {
      align-items: flex-end;
      justify-content: center; }
      .hand_mob img {
        width: 60%; } }

.mob_dev_descr {
  align-items: center;
  display: flex; }
  .mob_dev_descr p {
    margin-top: 40px;
    text-align: left; }
    @media (max-width: 1366px) {
      .mob_dev_descr p {
        margin-top: 25px; } }
  .mob_dev_descr ul {
    list-style: none;
    margin-top: 30px;
    padding-left: 50px; }
    @media (max-width: 950px) {
      .mob_dev_descr ul {
        margin-top: 30px;
        padding-left: 20px; } }
    @media (min-width: 1600px) {
      .mob_dev_descr ul {
        margin-top: 45px; } }
  .mob_dev_descr ul li {
    color: #8c8c8c;
    font-family: Montserrat;
    font-size: 1.3333rem;
    font-weight: 300;
    line-height: 2.66666rem;
    padding-left: 52px;
    position: relative; }
    @media (max-width: 950px) {
      .mob_dev_descr ul li {
        padding-left: 29px; } }
    @media (min-width: 950px) and (max-width: 1366px) {
      .mob_dev_descr ul li {
        padding-left: 35px; } }
  .mob_dev_descr ul li::before {
    background-color: #c7b299;
    border-radius: 50%;
    color: #fff;
    display: block;
    font-size: 21px;
    left: -2px;
    line-height: 21px;
    position: absolute;
    top: 3px; }

.counters {
  background: -webkit-linear-gradient(0deg, #211b19 0%, #4e3427 100%);
  background: -moz-linear-gradient(0deg, #211b19 0%, #4e3427 100%);
  background: -o-linear-gradient(0deg, #211b19 0%, #4e3427 100%);
  background: -ms-linear-gradient(0deg, #211b19 0%, #4e3427 100%);
  background: linear-gradient(90deg, #211b19 0%, #4e3427 100%);
  padding: 69px 0 60px; }
  @media (max-width: 950px) {
    .counters {
      padding: 39px 0 30px; } }
  @media (min-width: 950px) and (max-width: 1366px) {
    .counters {
      padding: 49px 0 40px; } }
  .counters .row {
    justify-content: space-between; }
    @media (max-width: 629px) {
      .counters .row {
        justify-content: space-around; }
        .counters .row .col-auto::after {
          content: none; } }
  .counters .col-auto {
    color: #c7b299;
    margin-bottom: 10px;
    padding-bottom: 30px;
    padding-top: 44px;
    text-align: center; }
  .counters .col-auto::before {
    font-size: 3.6666rem;
    left: 50%;
    position: absolute;
    top: 0;
    transform: translateX(-50%); }
  .counters .col-auto::after {
    background-color: #fff;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    width: 30px; }
  .counters span {
    display: block;
    text-transform: uppercase; }
  .counters .amount {
    color: #fff;
    font-family: Montserrat;
    font-size: 4rem;
    font-weight: 200;
    line-height: 3rem;
    margin-bottom: 1.75rem;
    margin-top: 2.5rem; }
    @media (max-width: 1366px) {
      .counters .amount {
        font-size: 3rem; } }
  .counters .category_count {
    font-family: Montserrat;
    font-size: 1.16666rem;
    font-weight: 300;
    line-height: 1.6666rem; }

.recent-posts {
  padding: 80px 0; }
  .recent-posts .row {
    justify-content: center; }
  .recent-posts h2 {
    text-align: center;
    width: 100%; }
  .recent-posts h2 + p {
    margin: 0 auto;
    max-width: 779px; }

.posts {
  margin-top: 40px; }
  .posts *:not(.carousel-inner) {
    transition: background-color .4s, color .2s, transform .4s;
    transition-timing-function: ease-in-out; }
  @media (max-width: 950px) {
    .posts {
      margin-top: 20px; } }
  @media (min-width: 500px) and (max-width: 555px) {
    .posts > div {
      flex: 0 0 100%;
      max-width: 100%; } }
  .posts > div:not(:last-child) {
    margin-bottom: 15px; }
  .posts .carousel-indicators {
    bottom: 20px; }
  .posts .carousel-inner {
    max-width: 100%; }
  .posts .image-post {
    position: relative;
    z-index: 1; }
    .posts .image-post:before {
      background-color: rgba(0, 0, 0, 0);
      content: "";
      display: block;
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: -1; }
    .posts .image-post img {
      width: 100%; }
  .posts .text-post {
    padding: 30px; }
    @media (max-width: 1366px) {
      .posts .text-post {
        padding: 16px; } }
    .posts .text-post h3 {
      color: #555;
      font-family: Raleway;
      font-size: 1.6666rem;
      font-weight: 500; }
    .posts .text-post p,
    .posts .text-post a {
      font-family: Montserrat;
      font-size: 1.1666rem;
      font-weight: 300; }
    .posts .text-post p {
      color: #8c8c8c;
      line-height: 1.8333rem; }
    .posts .text-post a {
      color: #c7b299;
      display: inline-block;
      line-height: 1.6666rem;
      padding-right: 20px;
      position: relative;
      text-decoration: none !important; }
    .posts .text-post a::before {
      color: #c7b299;
      font-size: 8px;
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-41%); }
  .posts .time {
    color: #fff;
    display: flex;
    flex-direction: column;
    left: 35px;
    position: absolute;
    top: 20px;
    z-index: 2; }
    .posts .time span {
      display: inline-block;
      text-align: center;
      width: 50px; }
    .posts .time span:first-child {
      background-color: #363636;
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
      font-family: Montserrat;
      font-size: 24px;
      font-weight: 300;
      height: 35px;
      line-height: 35px; }
    .posts .time span:last-child {
      background-color: #252525;
      border-bottom-left-radius: 3px;
      border-bottom-right-radius: 3px;
      font-family: Roboto;
      font-size: 12px;
      font-weight: 400;
      height: 25px;
      line-height: 25px; }

.posts > div:hover .image-post:before {
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1; }

.posts > div:hover .text-post {
  background-color: #362f2d; }
  .posts > div:hover .text-post h3,
  .posts > div:hover .text-post a {
    color: #c7b299; }
  .posts > div:hover .text-post p {
    color: #fff; }

.posts > div:hover .time span:first-child {
  background-color: #c7b299; }

.posts > div:hover .time span:last-child {
  background-color: #a48d72; }

.arrow {
  margin-top: 40px; }
  .arrow span {
    cursor: pointer;
    font-size: 1.83333rem; }
  .arrow span:first-child {
    margin-right: 8px;
    transform: scale(-1, 1); }
  .arrow span.enable {
    color: #c7b299; }
  .arrow span.disable {
    color: #d1d1d1; }

.partners {
  background: #3d1e01 url(../img/bottom-bg.jpg) center bottom no-repeat;
  background-size: cover;
  padding: 140px 0; }
  @media (max-width: 1366px) {
    .partners {
      padding: 50px 0; } }
  .partners .row {
    align-items: center;
    justify-content: space-around; }
    .partners .row > div {
      margin-bottom: 20px; }

.top-footer {
  background-color: #191919;
  color: #545454;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  padding: 80px 0; }
  @media (max-width: 1366px) {
    .top-footer {
      padding: 30px 0; } }
  .top-footer .pt-28 {
    padding-top: 28px; }
  .top-footer .navbar-brand {
    margin-bottom: 29px; }
    .top-footer .navbar-brand:hover img {
      transform: none; }
  .top-footer .navbar-brand + p {
    line-height: 24px; }
  .top-footer .read-more {
    color: #d1d1d1;
    display: inline-block;
    padding-right: 20px;
    position: relative; }
    .top-footer .read-more::before {
      font-size: 8px;
      position: absolute;
      right: 0;
      text-decoration: none;
      top: 6px; }
  .top-footer h3 {
    color: #fff;
    font-family: Raleway;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 33px; }
  .top-footer .res-post > p {
    transition: color .3s; }
  .top-footer .res-post .date-post {
    color: #363636;
    margin-bottom: 10px; }
  .top-footer .res-post:hover .date-post {
    color: #fff; }
  .top-footer .res-post:hover .descr-post {
    color: #c7b299; }
  .top-footer hr {
    border: 1px solid #252525;
    margin: 21px 0 19px; }
  .top-footer .twit-date {
    color: #363636;
    margin-top: 11px; }
  .top-footer .link-twiter {
    color: #00bff3; }
  .top-footer .link {
    color: #959595; }
  .top-footer .dr-widget {
    padding-left: 0;
    padding-right: 0; }
    @media (max-width: 950px) {
      .top-footer .dr-widget {
        text-align: center; } }
    .top-footer .dr-widget a {
      display: inline-block;
      margin-bottom: 10px;
      margin-right: 10px; }

.bottom-footer {
  background-color: #111;
  color: #545454;
  font-family: Montserrat;
  font-size: 13px;
  font-weight: 300;
  line-height: 20px;
  padding: 45px 0 52px; }
  @media (max-width: 950px) {
    .bottom-footer {
      padding: 20px 0 23px; } }
  .bottom-footer .row {
    justify-content: space-between; }
  .bottom-footer a,
  .bottom-footer span {
    display: inline-block; }
  .bottom-footer .fqa {
    color: #c7b299;
    text-transform: uppercase; }
  .bottom-footer .waxom {
    color: #959595; }
  .bottom-footer .policy,
  .bottom-footer .support {
    color: inherit; }
  .bottom-footer .delimiter {
    color: #242424;
    display: inline-block;
    padding: 5px; }
  .bottom-footer .design-autor,
  .bottom-footer .market-name {
    color: #959595; }